<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link href="/stylesheets/cropper.min.css" rel="stylesheet"/>
</head>
<body>
<div class="block">
    <div class="box">
        <label><input type="checkbox" data-privacy-policy="agree"/>개인정보 노출동의</label>
        <input type="text" name="host-name" placeholder="실명을 입력하세요."/>
        <input type="file" data-upload="image"/>
        <img name="host-image" src="" alt="올린 파일 이미지"/>
    </div>
</div>
<script>
    var privateCheck = (function(){
        var block = document.querySelector('.block');
        var hostName = block.querySelector('[name="host-name"]');
        var agreeCheckbox = block.querySelector('[data-privacy-policy="agree"]');
        var fileUploader = block.querySelector('[data-upload="image"]');




        function bindEvents() {
            agreeCheckbox.addEventListener('click', checkAgreement);
             agreeCheckbox.addEventListener('change', permitTargetChange);
             fileUploader.addEventListener('change', showUploadedImage);
        }

        function checkAgreement (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    console.log(1);
        }

        function permitTargetChange() {
            var isAgreeChecked = agreeCheckbox.checked;
            hostName.disabled = !isAgreeChecked;
            fileUploader.disabled = !isAgreeChecked;
        }
        function showUploadedImage() {
            var loadedImage = fileUploader.nextSibling;
           // loadedImage.src = webkitRelativePath;
        }
        permitTargetChange();
        bindEvents();

        return {

        }
    })();


    console.log(privateCheck);
</script>
</body>
</html>